* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #000000 !important;
    background: url(./bg.webp) no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 25px;
}

.container {
    padding: 30px;
    background-color: #000000b3;
    box-shadow: 0px 4px 5px #00000030;
    border-radius: 7px;
    width: 420px;
    max-width: 100%;
    position: absolute;
    top: 15%;
    color: white;
}

#mic label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#mic input {
    width: 97%;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 15px;
    color: #4caf50;
    font-weight: 600;
}

button.calc {
    background-color: #4caf50;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button.calc:hover {
    background-color: #43dc49;
}

button.reset {
    background-color: #ff5722;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button.reset:hover {
    background-color: #f97b53;
}

#result {
    text-align: center;
    margin-top: 20px;
}

.alert {
    background-color: #f9d2c5;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #ff5722;
}

#result {
    font-size: 18px;
    color: #43dc49;
    font-weight: bold;
    line-height: 1.4;
}

#frase {
    text-align: center;
}

@media (max-width: 768px) {

    .container {
        max-width: 80%;
        box-shadow: none;
    }
}